#select-n {
  padding-bottom: 10px;
}

path {
  stroke-width: 2;
}
.xaxis path,
.xaxis line {
  fill: none;
  stroke: #888;
  stroke-width: 1;
  shape-rendering: crispEdges;
}
.xaxis text {
  fill: #555;
}
.label-text {
  font-size: 3px;
}
